body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #1f1f1f;
  color: white;
  margin: 0;
  padding: 0;
}

.hero-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav-links, li{
  color: white;
  min-height: 50px;
  max-height: 50px;
  font-size: 1rem;
  display: flex;
  list-style: none;
  position: relative;
  padding: 0px 50px;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
